// BUTTON

button {
  @include flex-center;
  background: transparent;
  border: 0;
  padding: $helper-space;
  width: 100%;
  cursor: pointer;
  &.btn-cta,
  &.btn-side {
    @include border-radius;
    margin: ($helper-space / 2) 0;
    border: $helper-space / 8 solid transparent;
    background: transparent;
  }
  &:focus {
    outline: 0;
  }
  span {
    font-size: $helper-space * 1.25;
  }
}

.quiz-btn {
  button {
    margin: 0;
  }
}

.quiz-wrapper {
  button {
    width: auto;
    min-width: 50%;
  }
}
