// BUTTON

button {
  @include flex-center;
  background: transparent;
  border: 0;
  padding: $helper-space;
  width: 100%;
  cursor: pointer;
  &.btn-cta,
  &.btn-side {
    margin: ($helper-space / 2) 0;
    border: $helper-space / 8 solid transparent;
    background: transparent;
  }
  &:focus {
    outline: 0;
  }
  span {
    font-size: $helper-space;
  }
}
