/* INTERFACE */

.App {
  @include grid-center;
  @include full-screen;
  @include transition-all;
  @include animation-opacity;
  position: relative;
}

.quiz-icons {
  @include flex-center;
}

.quiz-overlay,
.quiz-noise {
  @include full-screen;
  position: absolute;
  pointer-events: none;
}

.quiz-panel {
  @include flex-row;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: $helper-space;
  @include border-default(bottom);
  .quiz-details,
  .quiz-counter,
  .quiz-helpers {
    @include flex-center;
    width: calc(100% / 3);
  }
  .quiz-details {
    justify-content: flex-start;
    span {
      margin: 0 $helper-space / 2;
    }
  }
  .quiz-counter {
    span {
      @include flex-center;
      @include text-bold;
      width: 2ch;
      text-align: right;
    }
    svg {
      @include max-sm {
        display: none;
      }
    }
  }
  .quiz-helpers {
    justify-content: flex-end;
  }
  .quiz-menu {
    @include min-md {
      display: none;
    }
  }
}

.quiz-progress {
  width: 100vw;
  position: fixed;
  top: $helper-space * 3.5;
}

.quiz-start {
  @include grid-center;
  @include border-all;
  .quiz-logo {
    @include border-all;
  }
}

.quiz-input {
  @include mobile-fit;
  width: auto;
}

.quiz-wrapper {
  @include grid-center;
  @include full-screen;
  position: relative;

  .quiz-definition {
    display: grid;
    position: absolute;
    padding: $helper-space;
    width: 100vw;
    @include border-default(top);
    @include border-default(bottom);

    h2 {
      padding: $helper-space;
      text-align: center;
    }
  }

  ul {
    @include grid-center;
    @include full-screen;
    grid-template-columns: repeat(2, 1fr);
    li {
      @include flex-center;
      width: 100%;
      height: 100%;
      button {
        .quiz-type {
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }
}

.quiz-theme {
  @include grid-center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  @include border-default(top);
  padding: $helper-space / 2;
  .MuiRadio-root {
    padding: $helper-space / 2;
  }
}

.quiz-result {
  @include border-radius;
  @include border-all;
  padding: $helper-space * 1.5;
  h2 {
    @include text-uppercase;
    @include text-bold;
    text-align: center;
    font-size: $helper-space * 1.5;
  }
  h3 {
    font-size: $helper-space * 1.25;
    text-align: center;
    padding: $helper-space / 2;
  }
}

.quiz-social {
  @include flex-center;
  padding: $helper-space / 2;
}

.quiz-credits {
  text-align: center;
}
