// UI-Material

.App {
  &.material {
    @include material-font;
    background: $nord4;
    color: $nord0;
    line {
      stroke: $nord10;
    }
    button {
      @include material-font;
      &.btn-cta {
        background: $nord10;
        span {
          color: $nord4;
        }
      }
      &.btn-side {
        border-color: $nord10;
        span {
          color: $nord10;
        }
      }
    }
  }
}
