// UI-Material

.App {
  &.material {
    @include material-font;
    @include material-cursor;
    background: $nord4;
    color: $nord0;

    // common

    line {
      stroke: $nord13;
    }

    button {
      @include material-font;
      @include material-pointer;
      color: $nord10;
      &.btn-cta {
        background: $nord10;
        span {
          color: $nord4;
        }
      }
      &.btn-side {
        background: $nord6;
        border-color: $nord13;
        span {
          color: $nord10;
        }
      }
    }

    // icons

    .MuiSvgIcon-root {
      @include material-pointer;
      font-size: $helper-space * 1.75;
      fill: $nord10;
    }

    .quiz-play {
      font-size: $helper-space * 1.75;
      fill: $nord13;
    }

    .MuiSvgIcon-fontSizeLarge {
      fill: $nord10;
      font-size: $helper-space * 2;
    }

    // quiz content

    .quiz-panel {
      @include strong-shadow;
      @include material-border(bottom);
      background: $nord6;
    }

    .quiz-select {
      width: $helper-space * 10;
    }

    .quiz-start {
      @include strong-shadow;
      background: $nord6;
      .quiz-logo {
        border-color: $nord10;
      }
    }

    .quiz-theme {
      @include strong-shadow;
      @include material-border(top);
      background: $nord6;

      .MuiRadio-colorSecondary:not(.Mui-disabled) {
        color: $nord10;
      }

      .MuiIconButton-colorSecondary:hover {
        background-color: var(--material-hover);
      }
    }

    .quiz-wrapper {
      .quiz-definition {
        @include strong-shadow;
        @include material-border(top);
        @include material-border(bottom);
        background: $nord6;
      }
      ul {
        li {
          @include light-shadow;
          @include transition-all;
          &:hover {
            background: $nord13;
            button {
              @include transition-all;
              border: $helper-space / 8 solid $nord10;
              &:hover {
                background: $nord10;
                span {
                  @include transition-all;
                  color: $nord4;
                }
              }
            }
          }
        }
      }
    }

    .quiz-result {
      background: $nord6;
      border-color: $nord10;
    }
  }
}
