// UI-Terminal

.App {
  &.terminal {
    @include terminal-font;
    @include terminal-text;
    @include terminal-shadow;
    @include terminal-cursor;
    background-image: var(--terminal-gradient);

    // common

    a {
      @include terminal-light;
    }

    line {
      stroke: var(--terminal-green);
    }

    button {
      @include terminal-font;
      margin: 0;
      padding: $helper-space / 2;
      &.btn-cta {
        @include terminal-background;
        span {
          color: var(--default-dark);
        }
      }
      &.btn-side {
        border-color: var(--terminal-green);
        span {
          color: var(--terminal-green);
        }
      }
    }

    // overlays

    .quiz-noise {
      @include background-noise;
    }

    .quiz-overlay {
      @include background-overlay;
      &::before {
        @include full-screen;
        @include terminal-gradient;
        @include animation-scan;
        pointer-events: none;
      }
    }

    // icons

    .terminal-icon {
      @include terminal-pointer;
      margin: 0 $helper-space / 2;
      @include tablet-landscape {
        margin: 0 $helper-space / 4;
      }
    }

    .quiz-audio,
    .quiz-menu,
    .quiz-arrow,
    .quiz-timer {
      fill: var(--default-dark);
    }

    .quiz-menu {
      @include tablet-landscape {
        width: $helper-space * 2;
        height: $helper-space * 2;
      }
    }

    // quiz content

    .quiz-panel {
      @include terminal-background;
      @include terminal-border(bottom);
      padding: $helper-space / 2;
      .quiz-details,
      .quiz-counter,
      .quiz-helpers {
        padding: ($helper-space / 2) 0;
        @include tablet-landscape {
          padding: 0;
        }
      }
      span {
        color: var(--terminal-green);
        @include tablet-landscape {
          font-size: $helper-space * 1.5;
        }
      }
    }

    .quiz-details {
      svg,
      i {
        margin-right: 0;
      }
    }

    .quiz-result,
    .quiz-start {
      @include terminal-frame;
      @include terminal-background;
      @include border-radius;
      padding: $helper-space;
      .quiz-play {
        transform: scale(0.75);
        rect {
          fill: var(--default-dark);
        }
      }
    }

    .quiz-theme {
      @include terminal-background;
      @include terminal-border(top);
      padding: $helper-space / 4;
      .MuiRadio-colorSecondary:not(.Mui-disabled) {
        color: var(--default-green);
      }
      .MuiIconButton-colorSecondary:hover {
        background-color: var(--material-hover);
      }
    }

    .quiz-wrapper {
      place-items: self-start;
      align-content: start;
      height: calc(90vh - #{$helper-space});
      @include tablet-landscape {
        height: calc(90vh - #{$helper-space * 3});
      }
      .quiz-definition {
        place-items: self-start;
        position: relative;
        padding: 0;
        border: 0;
        h2 {
          font-size: $helper-space * 1.5;
          text-align: left;
          &::before {
            content: "Q:";
            margin-right: 1ch;
          }
        }
      }
      ul {
        @include auto-fit;
        place-items: self-start;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: $helper-space;
        position: relative;
        padding: 0 $helper-space;
        li {
          @include auto-fit;
          font-size: $helper-space * 1.5;
          &:nth-child(1) {
            &::before {
              content: "A:";
            }
          }
          &:nth-child(2) {
            &::before {
              content: "B:";
            }
          }
          &:nth-child(3) {
            &::before {
              content: "C:";
            }
          }
          &:nth-child(4) {
            &::before {
              content: "D:";
            }
          }
          button {
            border: 0;
            padding: 0;
            margin: 0 -1ch;
            @include tablet-landscape {
              justify-content: flex-start;
            }
            .quiz-type {
              @include terminal-text;
              @include terminal-shadow;
              @include animation-blink;
              font-size: $helper-space * 1.5;
              &::before,
              &::after {
                @include transition-all;
                opacity: 0;
              }
              &::before {
                content: "[";
              }
              &::after {
                content: "]";
              }
            }
            &:hover {
              .quiz-type {
                @include terminal-light;
                @include text-uppercase;
                &::before,
                &::after {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }

    .quiz-social {
      margin-bottom: $helper-space * 0.75;
    }

    .quiz-table {
      margin-top: $helper-space;
      .nes-table {
        @include terminal-background;
        width: 20vw;
        @include tablet-landscape {
          width: 75vw;
        }
        tr {
          th,
          td {
            &:first-child {
              width: 20%;
            }
            &:last-child {
              width: 30%;
            }
          }
        }
      }
    }

    .quiz-credits {
      .quiz-heart {
        margin: 0;
      }
    }

    // customization

    .quiz-select {
      @include terminal-font;
      width: $helper-space * 8;
      .css-17mbc9c-control,
      .css-8e9wle-control {
        @include terminal-frame;
        @include terminal-background;
        @include border-radius;
        min-height: $helper-space * 2;
      }
      .css-8e9wle-control,
      .css-bmm19l-option {
        @include terminal-pointer;
      }
      .css-1cf4uja-ValueContainer {
        padding: 0 $helper-space / 2;
        .css-1uccc91-singleValue,
        .css-19uk7i0-placeholder {
          @include terminal-text;
        }
      }
      .css-g7jtzl-DropdownIndicator {
        @include terminal-resize;
      }
      .css-1y20v6-menu {
        @include terminal-frame;
        @include terminal-background;
        margin: $helper-space / 4 0;
        .css-5r04rb-option,
        .css-17ipih-option,
        .css-bmm19l-option {
          @include terminal-background;
          @include terminal-text;
        }
        .css-5r04rb-option,
        .css-bmm19l-option {
          &::before {
            @include terminal-text;
            @include terminal-resize;
            top: 11px;
          }
          &:hover {
            @include terminal-light;
            &::before {
              @include terminal-light;
            }
          }
        }
      }
    }

    .nes-field {
      margin: 0;
      & > label {
        margin-bottom: $helper-space / 2;
      }
    }
    .nes-input {
      @include terminal-frame;
      margin: 0;
      padding: $helper-space * 0.75;
    }
    .nes-btn {
      @include text-uppercase;
      box-shadow: unset;
      &::before,
      &::after {
        border-color: var(--terminal-green);
      }
      &.is-success {
        @include terminal-frame;
        background: var(--terminal-green);
        background: #80ff80;
        color: var(--default-dark);
        height: $helper-space * 2;
      }
      &.is-error {
        @include terminal-background;
        @include terminal-text;
      }
    }
    .MuiButtonBase-root {
      @include terminal-pointer;
    }
  }
}
