// UI-Terminal

.App {
  &.terminal {
    @include terminal-font;
    @include terminal-text;
    @include terminal-shadow;
    background-image: var(--terminal-gradient);

    .quiz-noise {
      @include background-noise;
    }

    .quiz-overlay {
      @include background-overlay;
    }

    .quiz-overlay::before {
      @include full-screen;
      @include terminal-gradient;
      @include animation-scan;
      pointer-events: none;
    }

    .quiz-type {
      @include terminal-text;
      @include terminal-shadow;
    }

    line {
      stroke: var(--terminal-green);
    }

    button {
      @include terminal-font;
      @include terminal-text;
      @include terminal-shadow;
      &.btn-cta {
        background: var(--terminal-green);
        span {
          color: $nord0;
        }
      }
      &.btn-side {
        border-color: var(--terminal-green);
        span {
          color: var(--terminal-green);
        }
      }
    }
  }
}
