// BUTTON

button {
  @include ui-terminal-font;
  padding: $helper-space;
  width: auto;
  cursor: pointer;
  border: 10px dotted silver;
  span {
    @include flex-center;
    padding: $helper-space;
    font-size: $helper-space;
  }
}
