/* DEBUG */

* {
  outline: 2px dotted #111111;
}
* * {
  outline: 2px dotted #0074d9;
}
* * * {
  outline: 2px dotted #2ecc40;
}
* * * * {
  outline: 2px dotted #ff4136;
}
* * * * * {
  outline: 1px solid #ffdc00;
}
* * * * * * {
  outline: 1px solid #111111;
}
* * * * * * * {
  outline: 1px solid #0074d9;
}
* * * * * * * * {
  outline: 1px solid #2ecc40;
}
