/* INTERFACE */

.App {
  @include grid-center;
  @include full-screen;
  position: relative;
}

.quiz-overlay,
.quiz-noise {
  @include full-screen;
  position: absolute;
}

.quiz-noise {
  z-index: 0;
}

.quiz-overlay {
  z-index: 1;
}

.quiz-wrapper,
.quiz-result,
.quiz-start {
  z-index: 2;
}

.quiz-theme {
  z-index: 3;
  position: absolute;
  top: 0;
}

.quiz-wrapper {
  @include grid-center;
  @include full-screen;
  position: relative;

  .quiz-panel {
    @include flex-row;
    position: absolute;
    top: 0;
    width: 100vw;
    padding: $helper-space;
  }

  .quiz-definition {
    @include grid-center;
    position: absolute;
    padding: $helper-space;
    font-size: $helper-space;
    h2 {
      padding: $helper-space;
    }
  }

  ul {
    @include grid-center;
    @include full-screen;
    grid-template-columns: repeat(2, 1fr);
  }
}

.quiz-result {
  h2 {
    text-align: center;
    padding: $helper-space;
  }
}

.quiz-type {
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}
