// LAYERS

:root {
  --z-surface: 4;
  --z-top: 3;
  --z-above: 2;
  --z-default: 1;
  --z-below: 0;
}

.quiz-noise {
  z-index: var(--z-below);
}

.quiz-wrapper {
  z-index: var(--z-default);
}

.quiz-overlay,
.quiz-definition,
.quiz-result,
.quiz-progress {
  z-index: var(--z-above);
}

.quiz-panel,
.quiz-theme,
.quiz-start {
  z-index: var(--z-top);
}

#cursor-dot,
#cursor-dot-outline {
  z-index: var(--z-surface);
}
