// LAYERS

:root {
  --z-top: 3;
  --z-above: 2;
  --z-default: 1;
  --z-below: 0;
}

.quiz-noise {
  z-index: var(--z-below);
}

.quiz-overlay {
  z-index: var(--z-default);
}

.quiz-wrapper,
.quiz-theme,
.quiz-start {
  z-index: var(--z-above);
}

.quiz-panel,
.quiz-result,
.quiz-progress {
  z-index: var(--z-top);
}
