// helpers

$helper-space: 1rem;

// alignment

@mixin grid-center {
  display: grid;
  place-items: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin full-screen {
  width: 100vw;
  height: 100vh;
}

// border & box-shadow

@mixin border-default($direction) {
  border-#{$direction}: $helper-space / 8 solid transparent;
}

@mixin border-radius {
  border-radius: 0;
}

@mixin strong-shadow {
  box-shadow: 0px 0px 41px -7px rgba(0, 0, 0, 0.15);
}

@mixin light-shadow {
  box-shadow: 0px 0px 3px 0px rgba(132, 132, 132, 0.15);
}

@mixin terminal-gradient {
  background-image: linear-gradient(
    0deg,
    transparent 0%,
    rgba(32, 128, 32, 0.2) 2%,
    rgba(32, 128, 32, 0.8) 3%,
    rgba(32, 128, 32, 0.2) 3%,
    transparent 100%
  );
  background-repeat: no-repeat;
}

// overlays

@mixin background-noise {
  background-image: url("../img/noise.gif");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.02;
}

@mixin background-overlay {
  background: repeating-linear-gradient(
    180deg,
    var(--default-dark) 0,
    rgba(var(--default-dark), 0.8) 50%,
    var(--default-dark) 100%
  );
  background-size: auto $helper-space / 4;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// animations

@keyframes typing {
  from {
    width: 0;
  }
}

@mixin animation-scan {
  animation: scan 7.5s linear 0s infinite;
  @keyframes scan {
    0% {
      background-position: 0 -100vh;
    }
    35%,
    100% {
      background-position: 0 100vh;
    }
  }
}

// UI-Material

@mixin border-material($direction) {
  border-#{$direction}: $helper-space / 8 solid $nord10;
}

// UI-Terminal

@mixin terminal-shadow {
  // values to fix
  text-shadow: 0 0 1ex rgba(var(--terminal-shadow), 0.8), 0 0 $helper-space / 8 rgba(var(--default-light), 0.8);
}

@mixin terminal-text {
  color: var(--terminal-green);
}
