@import "animations";
$helper-space: 1rem;

// alignment

@mixin grid-center {
  display: grid;
  place-items: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin full-screen {
  width: 100vw;
  height: 100vh;
}

@mixin auto-fit {
  width: auto;
  height: auto;
}

@mixin default-height {
  line-height: 1;
}

@mixin text-uppercase {
  text-transform: uppercase;
}

@mixin text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin reset-cursor {
  cursor: none;
  @include max-md {
    cursor: default;
  }
}

// border & box-shadow

@mixin border-all {
  border: $helper-space / 8 solid transparent;
}

@mixin border-default($direction) {
  border-#{$direction}: $helper-space / 8 solid transparent;
}

@mixin border-radius {
  border-radius: 0;
}

@mixin reset-shadow {
  box-shadow: unset;
}

@mixin strong-shadow {
  box-shadow: 0px 0px 41px -7px rgba(0, 0, 0, 0.15);
}

@mixin light-shadow {
  box-shadow: 0px 0px 3px 0px rgba(132, 132, 132, 0.15);
}

// UI-Material

@mixin material-border($direction, $width) {
  border-#{$direction}: $width solid $nord10;
}

@mixin material-filter {
  filter: opacity(50%) blur($helper-space / 16);
}

@mixin material-pointer {
  cursor: url("./../img/material-pointer.svg"), pointer;
}

// UI-Terminal

@mixin terminal-border($direction) {
  border-#{$direction}: $helper-space / 8 solid var(--terminal-green);
}

@mixin terminal-background {
  background: var(--default-dark);
}

@mixin terminal-gradient {
  background-image: linear-gradient(
    0deg,
    transparent 0%,
    rgba(32, 128, 32, 0.2) 2%,
    rgba(32, 128, 32, 0.8) 3%,
    rgba(32, 128, 32, 0.2) 3%,
    transparent 100%
  );
  background-repeat: no-repeat;
}

@mixin terminal-noise {
  background-image: url("../img/terminal-noise.gif");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.02;
}

@mixin terminal-overlay {
  background: repeating-linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%);
  background-size: auto $helper-space / 4;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin terminal-text {
  color: var(--terminal-green);
  text-shadow: 0 0 $helper-space / 4 rgba(51, 255, 51, 0.8), 0 0 $helper-space / 8 rgba(255, 255, 255, 0.8);
}

@mixin terminal-light {
  color: var(--default-light);
  text-shadow: 0 0 $helper-space / 4 rgba(255, 255, 255, 0.8), 0 0 $helper-space / 8 rgba(255, 255, 255, 0.8);
}

@mixin terminal-frame {
  box-shadow: 0 4px var(--terminal-green), 0 -4px var(--terminal-green), 4px 0 var(--terminal-green),
    -4px 0 var(--terminal-green);
}

@mixin terminal-resize {
  transform: scale(0.5);
}

@mixin terminal-cursor {
  cursor: url("./../img/terminal-cursor.png"), pointer;
}

@mixin terminal-pointer {
  cursor: url("./../img/terminal-pointer.png"), pointer;
}
