// BREAKPOINTS

$device-xs: 480px;
$device-sm: 768px;
$device-md: 960px;
$device-lg: 1280px;

@mixin mobile-portrait {
    @media screen and (max-width: #{$device-xs - 1px}) {
        @content;
    }
}

@mixin mobile-landscape {
    @media screen and (min-width: #{$device-xs}) {
        @content;
    }
}

@mixin tablet-portrait {
    @media screen and (min-width: #{$device-sm}) {
        @content;
    }
}

@mixin tablet-landscape {
    @media screen and (max-width: #{$device-md - 1px}) {
        @content;
    }
}

// HELPERS

.App {
    div {
        .desktop-only {
            @include tablet-landscape {
                display: none;
            }
        }
        .mobile-only {
            @include tablet-portrait {
                display: none;
            }
        }
    }
}

@mixin mobile-fit {
    @include mobile-portrait {
        width: 100%;
    }
}
